

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background: darken($color-theme-three, 2);
    border-top: 1px solid darken($color-theme-three, 3);
    display: flex;
    flex-direction: row;
    color: lighten($color-theme-two, 10);
    padding: 0.25rem $gutter-width;
}

.trackInfo {
    flex: 0 0 15rem;

    .meta {
        flex: 1 auto;
        display: flex;
    }

    .thumbnail {
        flex: 0 0 2.5rem;
        img {
            display: block;
            max-height: 2.5rem;
        }
    }

    .info {
        flex: 1 auto;
        padding: 0 $half-gutter-width;
    }

    .title {
        display: block;
        margin: 0;
        font-weight: normal;
        color: #c5c5c5;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .artist {
        display: block;
        margin: 0;
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

.needle {
    flex: 1 auto;
    display: flex;
    flex-direction: row;

    .time {
        flex: 0 0 4rem;
        line-height: 2rem;
        margin: 0.25rem;
        padding: 0 0.25rem;
        &:first-child {
            text-align: right;
        }
    }
}

.progress {
    flex: 1 auto;
    position: relative;
    margin: 0.9rem;
    padding: 0.2rem 0;

    .wrapper {
        background: darken($color-theme-three, 1);
        width: 100%;
        height: 100%;
    }

    &.active .bar, &:hover .bar {
        background: $color-theme-accent;
        &:after {
            content: "";
            display: block;
            background: $color-white;
            border-radius: 50%;
            float: right;
            height: 0.8rem;
            width: 0.8rem;
            transform: translate(50%, -0.25rem);
        }
    }

    .bar {
        height: 100%;
        width: 50%;
        background: lighten($color-theme-two, 10);
    }
}

.controls {
    flex: 0 0 15rem;
    display: flex;
    flex-direction: row;

    svg {
        height: 100%;
        width: 1rem;
    }

    .volume {
        flex: 0 0 9rem;
        display: flex;

        .icon {
            flex: 0 0 1rem;
        }
    }

    .handles {
        flex: 1 auto;
        svg { margin: 0 0.5rem }
    }
}

