
$color-aqua:  #7FDBFF;
$color-blue:  #0074D9;
$color-navy:  #001F3F;
$color-teal:  #39CCCC;
$color-green: #2ECC40;
$color-olive: #3D9970;
$color-lime:  #01FF70;

$color-yellow:  #FFDC00;
$color-orange:  #FF851B;
$color-red:     #FF4136;
$color-fuchsia: #F012BE;
$color-purple:  #B10DC9;
$color-maroon:  #85144B;

$color-white:  #FFFFFF;
$color-silver: #DDDDDD;
$color-gray:   #AAAAAA;
$color-black:  #111111;


$color-primary: $color-blue;
$color-danger:  $color-red;
$color-sucess:  $color-green;
$color-info:    $color-aqua;

/*
$color-theme-one:   #212121;
$color-theme-two:   #424242;
$color-theme-three: #616161;
$color-theme-four:  #757575;
*/

$color-theme-one:   #282930;
$color-theme-two:   #2F323B;
$color-theme-three: #24262D;
$color-theme-four:  #515151;

$color-theme-accent: $color-blue;

